

<!-- (click)="onClick()" default bir event kullanım şekli -->


<input type="checkbox" [(ngModel)]="show"> Toggle

<input [(ngModel)]="size" placeholder="change size">

<app-button *ngIf="show" (sizeChanged)="onSizeChanged($event)" (click)="onClick()" color="red" bgColor="yellow" [size]="size">
  GS
</app-button>

<!-- <app-button color="blue" bgColor="yellow" size="lg">
  FB
</app-button>


<app-button color="white" bgColor="black" size="sm">
  BJK
</app-button> -->

<router-outlet></router-outlet>
